.grid {
  display: flex;
  width: 1080px;
  flex-wrap: wrap;
}

.grid-cell {
  flex: 1;
}

.select-row {
  display: flex;
  width: 1080px;
}

.select-box {
  margin: 10px;
  margin-left: auto;
}

.select-label {
  margin-right: 5px;
}

.gif {
  height: 150px;
  width: 200px;
}