.grid, .toolbar-grid {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    height: 150px;
    width: 200px;
    margin: 10px 10px 10px 10px;
}

.grid-cell {
    flex: none;
}

.grid-cell .gif-details {
    margin: 0 10px;
    width: 200px;
}

.sort-control {
    margin-left: 20px;
}
